{% extends "base.html" %}
{% block title %}Cubbie{% endblock %}
{% block head %}
{{ super() }}
<!-- Timeline CSS -->
<link href="{{ bower_url_for('startbootstrap-sb-admin-2', 'dist/css/timeline.css') }}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{{ bower_url_for('morrisjs', 'morris.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="wrapper">
</div>
<!-- /#wrapper -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ bower_url_for('metisMenu', 'dist/metisMenu.min.js') }}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ bower_url_for('raphael', 'raphael-min.js') }}"></script>
<script src="{{ bower_url_for('morrisjs', 'morris.min.js') }}"></script>

<script type="text/jsx" src="{{ url_for('ui.static', filename='jsx/index.jsx') }}"></script>
{% endblock %}
