{% extends "base.html" %}
{% block title %}Cubbie{% endblock %}
{% block head %}
{{ super() }}
<!-- Timeline CSS -->
<link href="{{ bower_url_for('startbootstrap-sb-admin-2', 'dist/css/timeline.css') }}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{{ bower_url_for('morrisjs', 'morris.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('ui.index') }}">Cubbie</a>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Metis Menu Plugin JavaScript -->
<script src="{{ bower_url_for('metisMenu', 'dist/metisMenu.min.js') }}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ bower_url_for('raphael', 'raphael-min.js') }}"></script>
<script src="{{ bower_url_for('morrisjs', 'morris.min.js') }}"></script>
{% endblock %}
