{% extends "base.html" %}
{% block title %}Sign into cubbie{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="google-signin-clientid" content="{{ google.client_id }}" />
    <meta name="google-signin-scope" content="profile" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="signinCallback" />
    <link rel="stylesheet"
        href="{{ url_for('ui.static', filename='css/signin.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In to Cubbie</h3>
                </div>
                <div class="panel-body">
                    <p class="text-center">
                        Cubbie does not require a separate account.
                    </p>
                    <button id="gplusButton" disabled class="btn btn-lg btn-success btn-block">
                        Sign in with Google
                    </button>

                    {% if config.DEBUG %}
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>

<form role="form" id="tokenForm">
    <div class="form-group">
        <label for="manualToken">Authorisation token</label>
        <input type="text" class="form-control input-lg" id="manualToken">
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-primary">
        Sign In
    </button>
</form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Google sign in API -->
<script src="https://apis.google.com/js/client:platform.js?onload=gapiLoaded" async defer></script>

<!-- Signin page JavaScript -->
<script>
var googleConnectUrl = '{{ google.connect_url }}';
var apiProfileUrl = '{{ url_for('api.profile') }}';
var redirectUrl = '{{ redirect_url }}';
</script>
<script src="{{ url_for('ui.static', filename='js/signin.js') }}"></script>
{% endblock %}
