{% extends "base.html" %}
{% block title %}Sign into cubbie{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="google-signin-clientid" content="{{ google.client_id }}" />
    <meta name="google-signin-scope" content="profile" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="signinCallback" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <div id="gSignInWrapper">
                        <button id="gplusButton" disabled class="btn btn-lg btn-success btn-block">
                            Sign in with Google
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- Google sign in API -->
<script src="https://apis.google.com/js/client:platform.js?onload=gapiLoaded" async defer></script>

<!-- Signin page JavaScript -->
<script>
var googleConnectUrl = '{{ google.connect_url }}';
</script>
<script src="{{ url_for('ui.static', filename='js/signin.js') }}"></script>
{% endblock %}
